<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Book Notes</title>
</head>

<body>
    <section class="header">
        <h1 id="title">Angel Gurrola</h1>
        <h2>Books I Have Interacted With</h2>
        <p>This website contains all the books I have interacted with, by interacted I mean books I have read, used for school, and started but not finished</p>
    </section>
    <hr>