body {
    background-color: #061E29;
}

#title {
  color: #5F9598;
}

h2 {
  color: #5F9598;
}

p {
  color: #F3F4F4;
}

.add-btn {
  display: inline-block; /* Allows padding and width/height settings */
  padding: 10px 20px;     /* Space inside the button */
  background-color: #5F9598; /* Blue background */
  color: #F3F4F4;           /* White text color */
  text-decoration: none;  /* Removes the default underline */
  border-radius: 5px;     /* Rounded corners */
  border: 1px solid #1D546D; /* A slight border */
  text-align: center;     /* Centers text within the button */
  cursor: pointer;        /* Changes cursor to a hand icon on hover */
  transition: background-color 0.3s ease;
  position: fixed;
  right: 5%;
  top: 3%;
  z-index: 100;
}

.add-btn:hover, .add-search-btn:hover {
  background-color: #1D546D;
}

.add-btn, .add-search-btn:active {
  transform: translateY(1px); /* Slight press effect */
}

.head-container h2, .head-container button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}


.add-container {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.add-input {
  padding: 12px;
  font-size: 16px;
}

.add-search-btn {
  display: inline-block; /* Allows padding and width/height settings */
  padding: 10px 20px;     /* Space inside the button */
  background-color: #5F9598; /* Blue background */
  color: #F3F4F4;           /* White text color */
  text-decoration: none;  /* Removes the default underline */
  border-radius: 5px;     /* Rounded corners */
  border: 1px solid #1D546D; /* A slight border */
  text-align: center;     /* Centers text within the button */
  cursor: pointer;        /* Changes cursor to a hand icon on hover */
  transition: background-color 0.3s ease;
}

label {
  color: #F3F4F4;
}

.book-feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.book-card {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 20px;
  background: #061E29;
  padding: 20px;
  /* border-radius: 10px;
  box-shadow: 0 4px 10px rgb(95, 149, 152); */
}

.book-img img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.book-title {
  font-size: 20px;
  margin-bottom: 4px;
   color: #5F9598;
}

.book-author {
  font-style: italic;
  color: #F3F4F4;
  margin-bottom: 6px;
}

.book-rating {
  font-weight: bold;
  margin-bottom: 8px;
}

.book-summary {
  color: #F3F4F4;
  line-height: 1.4;
}

@media (max-width: 600px) {
  .book-card {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .book-img img {
    max-width: 140px;
    margin: 0 auto;
  }
}